.button-data, .button-subscribe, .client-link, .svg-cont, .social-item .social-link, .button-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body {
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: 0.03em;
}

li {
  list-style-type: none;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  fill: #000000;
  background-color: #ffffff;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-close:focus, .button-close:hover {
  fill: #2196f3;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo > span {
  color: #2196f3;
}

.social-link-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

.social-item {
  margin-right: 10px;
}
.social-item:last-child {
  margin-right: 0;
}
.social-item .social-link {
  width: 44px;
  height: 44px;
  padding: 0;
  border-radius: 50%;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.advantage {
  background-color: #ffffff;
  padding-top: 60px;
}
@media screen and (min-width: 768px) {
  .advantage {
    padding-top: 94px;
  }
}
.advantage-list {
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .advantage-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}
@media screen and (min-width: 1200px) {
  .advantage-list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
@media screen and (min-width: 768px) {
  .advantage-item {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .advantage-item {
    width: calc((100% - 4 * 30px) / 4);
  }
}
@media screen and (max-width: 767px) {
  .advantage-item:not(:last-child) {
    margin-bottom: 30px;
  }
}
.advantage-title {
  padding: 0;
  margin: 0 0 10px 0;
  text-align: center;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .advantage-title {
    text-align: left;
  }
}
.advantage-text {
  padding: 0;
  margin: 0;
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
  font-weight: 400;
}

.svg-cont {
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}

.client {
  background-color: #ffffff;
  padding: 60px 0 60px 0;
}
@media screen and (min-width: 1200px) {
  .client {
    padding: 94px 0 94px 0;
  }
}
.client-title {
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  margin: 0 0 30px;
}
@media screen and (min-width: 1200px) {
  .client-title {
    font-size: 36px;
    margin: 0 0 50px;
  }
}
.client-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin: -15px;
}
.client-item {
  margin: 15px;
  width: calc((100% - 2 * 30px) / 2);
}
@media screen and (min-width: 768px) {
  .client-item {
    width: calc((100% - 3 * 30px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .client-item {
    width: calc((100% - 6 * 30px) / 6);
  }
}
.client-link {
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-link:hover, .client-link:focus {
  border: 1px solid #2196f3;
  fill: #2196f3;
}

.footer {
  background-color: #2f303a;
  padding: 60px 0;
}
.footer-logo {
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .footer-cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .footer-cont {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.footer-title {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 20px;
}
@media screen and (min-width: 1200px) {
  .footer-title {
    text-align: start;
  }
}

.adress-logo {
  margin: 0 auto 60px auto;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .adress-logo {
    margin: 0 0 60px 0;
  }
}
@media screen and (min-width: 1200px) {
  .adress-logo {
    text-align: start;
  }
}
.adress-list {
  margin: 20px 0 0 0;
  padding: 0;
}
.adress-map {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.adress-item {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin-top: 9px;
}

.footer-social {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer-social {
    padding-top: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-social {
    margin-bottom: 0;
  }
}
.footer-social-list {
  margin: 0;
}
.footer-social-link {
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-link:hover, .footer-social-link:focus {
  background-color: #2196f3;
}

.subscribe {
  padding: 0;
}
@media screen and (min-width: 1200px) {
  .subscribe {
    padding: 12px 0 0 0;
  }
}
.subscribe-text {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 0;
  margin: 0 10px 0 0;
}

@media screen and (min-width: 1200px) {
  .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.email {
  display: block;
}
.email-input {
  width: 100%;
  height: 50px;
  margin: 0 0 20px 0;
  padding-left: 16px;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25px;
  letter-spacing: 0.03em;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .email-input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .email-input {
    width: 358px;
    margin: 0 12px 0 0;
  }
}
.email-input:focus {
  background-color: #2f303a;
}
.email-input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.email-input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.email-input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.email-input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.email-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.button-subscribe {
  color: #ffffff;
  background-color: #2196f3;
  border: 0;
  padding: 10px 28px;
  border-radius: 4px;
  margin: 0 auto;
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  fill: #ffffff;
}

.header {
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}
@media screen and (max-widht: 767px) {
  .header {
    position: relative;
  }
}
.header-logo {
  color: #212121;
  display: inline-block;
  padding-top: 16px;
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .header-logo {
    padding-top: 26px;
    padding-bottom: 26px;
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .header-logo {
    color: #000000;
    padding-top: 25px;
    padding-bottom: 24px;
    margin-right: 93px;
  }
}

.nav-container {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav-item {
  position: relative;
}
.nav-icon-env {
  margin-right: 8px;
  width: 14px;
  height: 10px;
  fill: currentColor;
}
@media screen and (min-width: 1200px) {
  .nav-icon-env {
    margin-right: 10px;
    width: 16px;
    height: 12px;
  }
}
.nav-icon-smart {
  margin-right: 8px;
  width: 10px;
  height: 14px;
  fill: currentColor;
}
@media screen and (min-width: 1200px) {
  .nav-icon-smart {
    margin-right: 10px;
    width: 10px;
    height: 16px;
  }
}

.nav-list {
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .nav-list.nav-contacts {
    display: block;
    margin-left: auto;
    margin-top: 21px;
  }
}
@media screen and (min-width: 1200px) {
  .nav-list.nav-contacts {
    margin-top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.nav-list.nav-contacts .nav-item {
  margin-right: 0;
  margin-bottom: 10px;
}
.nav-list.nav-contacts .nav-item:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 1200px) {
  .nav-list.nav-contacts .nav-item {
    margin-right: 50px;
    margin-bottom: 0;
  }
  .nav-list.nav-contacts .nav-item:last-child {
    margin-right: 0;
  }
}
.nav-list.nav-contacts .nav-link {
  padding: 0;
}
@media screen and (min-width: 1200px) {
  .nav-list.nav-contacts .nav-link {
    padding: 32px 0;
  }
}

.nav-list .nav-item {
  margin-bottom: 32px;
}
.nav-list .nav-item:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .nav-list .nav-item {
    margin-right: 50px;
    margin-bottom: 0;
  }
  .nav-list .nav-item:last-child {
    margin-right: 0;
  }
}

.nav-link {
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: block;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .nav-link {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    display: block;
    padding: 32px 0;
  }
}
.nav-link:hover, .nav-link:focus {
  color: #2196f3;
}
.nav-link.contact {
  color: #757575;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .nav-link.contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.nav-link.contact.contact-tell {
  font-size: 34px;
  line-height: 1.18;
}
.nav-link.contact.contact-mail {
  font-size: 24px;
  line-height: 1.17;
}
.nav-link.contact:hover, .nav-link.contact:focus {
  color: #2196f3;
}
@media screen and (min-width: 768px) {
  .nav-link.current {
    color: #2196f3;
  }
  .nav-link.current::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 4px;
    background-color: #2196f3;
    border-radius: 2px;
  }
}

.menu-button {
  position: absolute;
  top: 10px;
  right: 15px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  z-index: 4;
  fill: #212121;
}
.menu-button:hover, .menu-button:focus {
  fill: #2196f3;
}
@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav-mobile {
    display: none;
  }
}

.menu-container {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  padding: 48px 40px;
  background-color: #ffffff;
}
.menu-container.is-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 2;
}

.menu-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.menu-social-item {
  padding-left: 10px;
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.menu-social-item:first-child {
  padding-left: 0;
}
.menu-social-item:last-child {
  border-right: none;
  padding-right: 0;
}
.menu-social-link {
  display: block;
  text-decoration: none;
  color: #2196f3;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
}

.hero {
  color: #ffffff;
  height: 400px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-bg-mob2x.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-mob2x.jpg);
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
  background-color: #c4c4c4;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  letter-spacing: 0.06em;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-bg-tab1x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-tab1x.jpg);
    max-width: 1199px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-bg-desk.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-desk.jpg);
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.hero-cont {
  max-width: 360px;
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .hero-cont {
    max-width: 700px;
  }
}
.hero-title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  letter-spacing: 0.06em;
}
@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.36;
  }
}
.hero-button {
  color: #ffffff;
  background-color: #2196f3;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  border-radius: 4px;
  margin: 30px 0 0 0;
  cursor: pointer;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 93px 15px;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.5);
          transform: translate(-50%, -50%) scale(0.5);
}

.icon-modal {
  position: absolute;
  top: 50%;
  left: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: relative;
  padding: 40px;
  border-radius: 4px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    width: 450px;
    height: 610px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}
.modal-title {
  padding: 0;
  margin: 0;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .modal-title {
    line-height: 1.15;
  }
}
.modal-label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}
.modal-input {
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border: 1px solid #2196f3;
}
.modal-input:focus + .icon-modal {
  fill: #2196f3;
}

.input-data {
  margin: 12px 0 0 0;
  padding: 0;
}
.input-box {
  position: relative;
  margin-top: 4px;
}
.input-text {
  margin-top: 4px;
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-text::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.input-text::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.input-text:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.input-text::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.input-text::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.input-text:focus {
  border: 1px solid #2196f3;
}

.data-container {
  margin-bottom: 10px;
}

.data-text {
  margin-bottom: 20px;
}

.check {
  position: relative;
  display: block;
  margin: 0 0 30px;
  padding: 0;
}
.check-text {
  color: #757575;
  padding-left: 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
}
@media screen and (min-width: 1200px) {
  .check-text {
    margin: 0 10px 30px;
    font-size: 14px;
    line-height: 1.71;
  }
}
.check-text > a {
  color: #2196f3;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

.icon-check {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 16px;
  height: 15px;
  background-image: url("../images/check1.svg");
}

.checkbox:checked + .icon-check {
  background-image: url("../images/iconcheck.svg");
}

.button-data {
  padding: 10px 55px;
  margin: 0 auto;
  color: #ffffff;
  background-color: #2196f3;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-data-text {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 0;
}
.button-data:hover, .button-data:focus {
  background-color: #188ce8;
}

.selection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .selection {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.selection-item {
  margin: 0 8px 0 0;
}
.selection .selection-item:last-child {
  margin-right: 0;
}

.filter-button {
  color: #212121;
  background-color: #f5f4fa;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border: 1px solid #f5f4fa;
  cursor: pointer;
  border-radius: 4px;
  padding: 6px 22px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-button:hover, .filter-button:focus {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio {
  background-color: #ffffff;
  padding-top: 60px;
}
@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 94px;
  }
}

.progect {
  padding-top: 40px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .progect {
    padding-top: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .progect {
    padding-top: 50px;
    padding-bottom: 94px;
  }
}
.progect-list {
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .progect-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}
.progect-item {
  max-width: 450px;
  margin-bottom: 30px;
}
.progect-item:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .progect-item {
    margin: 15px;
    width: calc((100% - 2 * 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .progect-item {
    width: calc((100% - 3 * 30px) / 3);
  }
}
.progect-link {
  background: #ffffff;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-decoration: none;
  border: 1px solid #eeeeee;
  display: block;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.progect-link:hover, .progect-link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.progect-title {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin: 0;
}
.progect-text {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  margin: 4px 0 0 0;
}

.progect-thumb {
  position: relative;
  overflow: hidden;
}

.text-overley {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.progect-link:hover .text-overley,
.progect-link:focus .text-overley {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.link-description {
  padding: 20px 24px;
}

.team {
  background-color: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-top: 60px;
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.team-title {
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  margin: 0 0 50px 0;
  padding: 0;
}
@media screen and (min-width: 1200px) {
  .team-title {
    font-size: 36px;
    line-height: 1.67;
  }
}
.team-list {
  margin: 30px 0 0 0;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .team-list {
    margin: -15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .team-list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
.team-card {
  max-width: 450px;
  padding-bottom: 24px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .team-card {
    max-width: 354px;
    margin: 15px;
    padding-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .team-card {
    max-width: 270px;
  }
}
@media screen and (max-width: 767px) {
  .team-list .team-card:not(:last-child) {
    margin-bottom: 30px;
  }
}
.team-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin: 30px 0 0;
  padding: 0;
}
.team-text {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin: 10px 0 16px;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .social-link-list-bottom {
    margin: 0 0 24px;
  }
}
@media screen and (min-width: 1200px) {
  .social-link-list-bottom {
    margin: 0 0 30px;
  }
}

.social-link-card {
  background-color: #ffffff;
  fill: #afb1b8;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

.work {
  display: none;
  background-color: #ffffff;
  padding-top: 94px;
  padding-bottom: 94px;
}
@media screen and (min-width: 1200px) {
  .work {
    display: block;
  }
}
.work-title {
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  padding: 0;
  margin: 0;
}
.work-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 50px 0 0 0;
}
.work-item {
  margin-right: 30px;
  position: relative;
}
.work-list .work-item:last-child {
  margin-right: 0;
}
.work-box {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 27px 0 27px 0;
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}
.work-text {
  margin: 0;
}/*# sourceMappingURL=main.css.map */