.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  & .modal {
    transform: translate(-50%, -50%) scale(0.5);
  }
}
.icon-modal {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  fill: $main-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  border-radius: 4px;
  background-color: $main-background-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &-title {
    padding: 0;
    margin-top: 40px;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
  }
  &-label {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: $second-color;
  }
  &-input {
    padding-left: 42px;
    width: 448px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus {
      border: 1px solid $accent-color;
    }
    &:focus + .icon-modal {
      fill: $accent-color;
    }
  }
}

.input {
  &-data {
    margin: 12px 40px 20px;
    padding: 0;
  }
  &-box {
    position: relative;
    margin-top: 4px;
  }
  &-text {
    margin-top: 4px;
    padding: 12px 16px;
    width: 448px;
    height: 120px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &::placeholder {
      color: rgba(117, 117, 117, 0.5);
      font-weight: 400;
      font-size: 12px;
      line-height: 1.17;
      letter-spacing: 0.01em;
    }
    &:focus {
      border: 1px solid $accent-color;
    }
  }
}
.data-container {
  margin-bottom: 10px;
}
.data-text {
  margin-bottom: 20px;
}

.check {
  position: relative;
  display: block;
  margin: 0 10px 30px;
  padding: 0;
  &-text {
    color: $second-color;
    padding-left: 24px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    & > a {
      color: $accent-color;
      text-decoration-skip-ink: none;
    }
  }
}

.icon-check {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 16px;
  height: 15px;
  background-image: url("../images/check1.svg");
}
.checkbox:checked + .icon-check {
  background-image: url("../images/iconcheck.svg");
}
.button-data {
  @extend %center;
  padding: 10px 55px;
  margin: 0 124px;
  color: $inverse-color;
  background-color: $accent-color;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &-text {
    font-family: inherit;
    font-weight: $main-fontW;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    padding: 0;
  }
  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
